[Unit]
Description=FastAPI-based applicaion for SMapper
After=network.target

[Service]
WorkingDirectory=/home/smapper/smapper/software/smapper_api/
Environment=HOME=/home/smapper/
ExecStart=/bin/bash spawn_api.sh
Type=simple
Restart=always

[Install]
WantedBy=default.target
